.inp-div{
    display: flex;
    justify-content: center;
}

.inp-div > input{
    width: 50%;
    margin-top: 100px;
    height: 30px;
    text-wrap: wrap;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 10px;
    font-size: medium;
}

.chips-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
}

.chips-item{
    background-color: grey;
    padding: 7px 12px;
    border-radius: 20px;
    font-weight: bold;
}

.cross-icon{
    cursor: pointer;
    margin-left: 10px;
    color: red;
}