.profile-form{
  border:1px solid black;
  height: 200px;
  width: 500px;
  /* margin: auto; */
  padding: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-form  > div{
  display: block;
  margin: 5px;
  padding: 5px;
}

.profile-form  div > label {
  margin-right: 20px;
}

.tabs{
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
}

.parent-tab{
  display: flex;
}

.tabs.active{
  background-color: darkblue;
  color: white;
}

.profile-form-custom-styling > div {
  padding: 5px;
}
.profile-form-custom-styling > div > input {
  padding: 5px;
}



.btns > button{
  margin: 10px;
  padding: 5px;
  cursor: pointer;
  background-color:blanchedalmond;
}

.error{
  color:red;
  font-size: 12px;
}

.dd{
  padding: 5px;
}